.bg-red {
    height: 30px!important;
    color: #fff;
    background: -webkit-linear-gradient(110deg, #f34c0a9f 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #cc1800f1 70%, #cc0e00b2 70%);
    background: -o-linear-gradient(110deg, #f34c0a9f 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #cc1800f1 70%, #cc0e00b2 70%);
    background: -moz-linear-gradient(110deg, #f34c0a9f 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #cc1800f1 70%, #cc0e00b2 70%);
    background: linear-gradient(110deg, #f34c0a9f 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #cc1800f1 70%, #cc0e00b2 70%);
}

.bg-blue {
    height: 30px!important;
    color: #fff;
    background: -webkit-linear-gradient(110deg, #0a9ef39f 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #00b4ccf1 70%, #8854ddb2 70%);
    background: -o-linear-gradient(110deg, #0a9ef39f 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #00b4ccf1 70%, #8854ddb2 70%);
    background: -moz-linear-gradient(110deg, #0a9ef39f 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #00b4ccf1 70%, #8854ddb2 70%);
    background: linear-gradient(110deg, #0a9ef39f 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #00b4ccf1 70%, #8854ddb2 70%);
}

.bg-test {
    height: 30px!important;
    color: #fff;
    background: -webkit-radial-gradient(farthest-corner at 0% 0%, #00b4ccf1 50%, #8854ddb2 50%), -webkit-linear-gradient(110deg, #0a9ef39f 70%, rgba(0, 0, 0, 0) 30%);
    background: -o-radial-gradient(farthest-corner at 0% 0%, #00b4ccf1 50%, #8854ddb2 50%), -o-linear-gradient(110deg, #0a9ef39f 70%, rgba(0, 0, 0, 0) 30%);
    background: -moz-radial-gradient(farthest-corner at 0% 0%, #00b4ccf1 50%, #8854ddb2 50%), -moz-linear-gradient(110deg, #0a9ef39f 70%, rgba(0, 0, 0, 0) 30%);
    background: radial-gradient(farthest-corner at 0% 0%, #00b4ccf1 50%, #8854ddb2 40%), linear-gradient(110deg, #0a9ef39f 70%, rgba(0, 0, 0, 0) 30%);
}

.card .subtle {
    color: #000;
    font-size: 0.5em;
    font-weight: 400;
    letter-spacing: -1px;
}

.card i {
    font-size: 3em;
}

.bg-gold {
    background: -webkit-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    background: -o-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    background: -moz-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}

.bg-news {
    background: -webkit-linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
    background: -o-linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
    background: -moz-linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
    background: linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
}

.bg-germany {
    color: #fff;
    background: -webkit-linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), -webkit-linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
    background: -o-linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), -o-linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
    background: -moz-linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), -moz-linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
    background: linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
}

.bg-stars {
    color: #fff;
    background: none;
}

.bg-germany {
    color: #fff;
    background: -webkit-linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), -webkit-linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
    background: -o-linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), -o-linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
    background: -moz-linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), -moz-linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
    background: linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
}

.bg-purple {
    color: #fff;
    background: -webkit-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
    background: -o-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
    background: -moz-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
    background: linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
}

.bg-spring {
    background: -webkit-linear-gradient(70deg, #fff810 30%, rgba(0, 0, 0, 0) 30%), -webkit-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
    background: -o-linear-gradient(70deg, #fff810 30%, rgba(0, 0, 0, 0) 30%), -o-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
    background: -moz-linear-gradient(70deg, #fff810 30%, rgba(0, 0, 0, 0) 30%), -moz-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
    background: linear-gradient(70deg, #fff810 30%, rgba(0, 0, 0, 0) 30%), linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
}